.drink-list {
  display: flex;
  width: 800px;
  height: 225px;
  overflow: auto;
  margin: 5px 50px;
  border: 1px solid red;
  padding: 10px;
  background-color: #27001a;
  opacity: 0.8;
  background-image:  linear-gradient(#ff0048 2px, transparent 2px), linear-gradient(90deg, #ff0048 2px, transparent 2px), linear-gradient(#ff0048 1px, transparent 1px), linear-gradient(90deg, #ff0048 1px, #27001a 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  box-shadow:0px 0px 10px 10px rgba(255, 0, 0, 0.2), 10px 0px 10px 0px rgba(255, 0, 0, 0.19);
  
}

@media (max-width: 850px){
  .cocktail-link{
    max-width: fit-content;
  }
  .drink-list{
    max-width: 1000px;
    max-width: 720px;
    min-width: 300px;
    position:static;
    display: grid;
    grid-template-columns: 35vmin repeat(2, 35vmin);
  }
}

@media (max-width: 710px){
  .drink-list{
    max-width: 720px;
    min-width: 200px;
    grid-template-columns:1fr 1fr;
    justify-items: center;
    padding: 0px;
  }
}

@media (max-width: 450px) {
  .drink-list {
    display: absolute;
    margin: 0px auto;
    max-width: 300px;
    min-width: 100px;
    min-height: 350px;
    grid-template-columns: 1fr;
  }
}