.drink-card{
  width: 200px;
  border: 1px solid red;
  height: 200px;
  margin: 5px 30px;
  animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.display-card {
  width: 300px;
  height: 300px;
}

.display-card-thumbnail {
  width: 300px;
  height: 300px;
}

.thumbnail {
  width: 200px;
}

.cocktail-name {
  padding: 0px;
  margin-top: -50px;
  margin-left: 10px;
  height: 12px;
}

.drink-name-box {
  background-color: rgba(0, 0, 0, 0.633);
  position: relative;
  height: 43px;
  width: fit-content 10px;
}

.thumbnail:hover{
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-tr {
  0% {
    -webkit-transform: translateY(-1000px) translateX(1000px);
            transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
      transform: translateZ(0);
    -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.2);
  }
  100% {
    -webkit-transform: translateZ(50px);
      transform: translateZ(50px);
    -webkit-box-shadow: 0px 0px 20px 20px rgba(255, 0, 0, 0.2);
      box-shadow:0px 0px 20px 20px rgba(255, 0, 0, 0.3);
  }
}