.drink-card{
  width: 200px;
  border: 1px solid red;
  height: 200px;
}

.thumbnail {
  width: 200px;
}

.cocktail-name {
  padding: 0px;
  margin-top: -34px;
  margin-left: 10px;
  height: 12px;
}

.drink-name-box {
  background-color: rgba(0, 0, 0, 0.633);
  position: relative;
  height: 20px;
  width: fit-content 10px;
}