.ingredient-div{
  border: solid 2px red;
  margin: 5px 20px 0px 0px;
  height: 270px;
  overflow-y: scroll;
}

.ingredient-imgs{
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.i-img{
  width: 70px;
  height: 70px;
}

.multi{
  font-size: 14px;
  margin: 0px;
}

@media (max-width: 750px){
  .ingredient-div{
    overflow-y: hidden;
    overflow-x: scroll;
    margin: auto;
    width: 300px;
    height: 100px;
  }
  .ingredient-imgs {
    display: flex;
  }
}
