.content-container {
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  width: 100%;
}

.app-body{
  height:100vh;
  display: flex;
}

.landing{
  max-width: 800px;
  min-width: 140px;
  height: 676px;
}





::-webkit-scrollbar {
  background: rgb(0, 0, 0);
  border-radius: 6px; 
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(167, 14, 14);
}
.cocktail.page{
  overflow: hidden;
}

.isearch{
  display: none;
}

@media (max-width: 750px) {
  .isearch{
    display: flex;
    justify-content: center;
  }
  .landing{
    min-height: 900px;
    max-height:1300px;

  }
  .app-content{
    overflow-x: hidden;
    overflow-y: clip;
    margin-bottom: 0px;
  }
  


  .content-container{
    margin-top: 70px;
  }
}