.content-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.app-content{
  margin-top: 91.3px;
}

.app-body{
  display: flex;
  height: 100%;
}




::-webkit-scrollbar {
  background: rgb(0, 0, 0);
  border-radius: 6px; 
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(167, 14, 14);
}

.isearch{
  display: none;
}

@media (max-width: 430px) {
  .isearch{
    display: flex;
    justify-content: center;
  }
  .app-content{
    height: 110%;
  }
}