.alpha-div {
  margin-top: 10px;
  display: flex;
  min-width: 800px;
  justify-content: center;
}

.alpha {
  list-style: none;
  margin-left: 8px;
}

.a-btn {
  font-weight: 900;
  padding: 6px;
  border: solid red 1px;
}