.alpha-div {
  margin-top: 10px;
  display: flex;
  min-width: 800px;
  justify-content: center;
}
.mobile-alpha-div {
  display: none;
}

.alpha {
  list-style: none;
  margin-left: 8px;
}

.a-btn {
  background-color: black;
  font-weight: 900;
  padding: 6px;
  border: solid red 1px;
}

@media (max-width: 450px) {
  .alpha-div{
    display: none;
  }

  .mobile-alpha-div {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}